streamlit
spacy
numpy
pandas
scikit-learn
matplotlib
seaborn
nlpaug
selenium
webdriver_manager
beautifulsoup4
transformers
nltk
torch 
sentencepiece
apt-get update && apt-get install -y libglib2.0-0 libnss3 libgconf-2-4 libxss1 libasound2